.lew-simple__textarea {
    position: relative;
    z-index: 0;
    overflow: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 10px 0;
    border: 1px solid #e0e0e0;
    background: #fff;
    color: #000;
    vertical-align: top;
    font: 16px/1.8 Verdana,Geneva,sans-serif;
    resize: vertical;
}

.lew-simple__toolbar {
    background-color: transparent;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 0;
    list-style: none;
}

.lew-simple__tool_bold {
    vertical-align: middle;
    white-space: nowrap;
    line-height: normal;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}